@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
            url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
            url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
            url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
            url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  color: #333;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: 'Montserrat', sans-serif;
}




:root {
    --footer-text__color: #cacaca;
    --border: 1px solid #cacaca;
    --border-color__hover-focus: 2px solid #ff9900;
    --border-color__active: 2px solid #e1670e;
    --btn-bgcolor__focus-hover: rgba(255, 153, 0, 0.7);
    --btn-bgcolor__active: #e1670e;
    --btn2-bgcolor__hover-focus: #666;
    --btn2-color__hover-focus: #fff;
    --btn2-bgcolor__active: #000;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
}

.btn-reset {
  border: none;
  padding: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
    margin-left: 3px;
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
}

.section-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}


/* Header */

.header {
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 10px;
}

.header__burger {
    display: none;
}

.header__menu.is-active {
    transform: none;
}

.header__menu.call-back {
    transform: translateX(-101%);
}

.header__menu {
    max-width: 420px;
    max-height: 770px;
    position: absolute;
    inset: 0;
    padding: 39px 50px;
    background-color: #fff;
    z-index: 10;
    transform: translateX(-101%);
    transition: transform .2s linear;
}

.menu__btn {
    margin-bottom: 100px;
    background: none;
}

.menu__item {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.menu__link {
    color: #333;
}

.header-container__link {
    margin-right: auto;
    
}

.header-container__link:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}

.nav-list {
    display: flex;
}

.nav-list__item {
    margin-right: 85px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.nav-list__item-link {
    border-bottom: 1px solid transparent;
}

.nav-list__item-link:hover {
    border-bottom: var(--border-color__hover-focus);
}

.nav-list__item-link:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}

.nav-list__item-link:active {
    color: #e1670e;
    border-bottom: var(--border-color__active);
    outline: none;
}

.nav-list__item-link {
    color: #333;
    transition: border-bottom .3s ease-in-out;
}

.header-container__btn {
    background-color: transparent;
}

.header-container__btn svg path {
    transition: stroke .2s ease-in-out;
}

.header-container__btn svg rect {
    transition: fill .2s ease-in-out;
}

.header-container__btn:hover svg path {
    stroke: #ff9900;
}

.header-container__btn:hover svg rect {
    fill: #ff9900;
}

.header-container__btn:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}

/* Hero */



.hero__container {
    position: relative;
    color: #fff;
    overflow: hidden;
}

.hero__content {
    position: absolute;
    top: 98px;
    bottom: 100px;
    left: 95px;
    z-index: 3;
}

.hero__title {
    max-width: 837px;
    margin-bottom: 24px;
    font-size: 70px;
    line-height: 85px;
    font-weight: 800;
}

.hero__descr {
    max-width: 790px;
    margin-bottom: 90px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.hero__btn {
    padding: 24.83px 36.88px;
    font-size: 23.4581px;
    line-height: 29px;
    font-weight: 700;
    transition: background-color .2s linear;
}

.hero__btn:hover {
    background-color: var(--btn-bgcolor__focus-hover);
}

.hero__btn:focus {
    outline: none;
    background-color: var(--btn-bgcolor__focus-hover);
}

.hero__btn:active {
    outline: none;
    background-color: var(--btn-bgcolor__active);
}

.swiper {
    height: 620px;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-1 {
    background-image: url(../img/hero-bg.jpg);
}

.slide-2 {
    background-image: url(../img/brown-and-blue-glass-building-2093076\ 2.jpg);
}

.slide-3 {
    background-image: url(../img/apartment-apartment-building-architecture-building-323705\ 2.jpg);
}

.swiper-pagination-bull {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 10;
  margin-bottom: 22px;
}

.bull {
  display: block;
  position: relative;
  background: white;
  z-index: 12;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 70%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bull:not(:last-child) {
  margin-right: 20px;
}

.bull:hover {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

.bull:focus {
  outline: none;
}

.bull-active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.bull-active {
  background: orange;
  opacity: 100%;
}



/* About us */

.about-container {
    padding-top: 100px;
}

.about-container__title {
    margin-bottom: 20px;
}

.about-container__descr {
    max-width: 1235px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 32px;
}

.about-container__content  {
    display: flex;
    justify-content: space-between;
}

.about-container__left {
    position: relative;
    flex: 0 0 49.1%;
    background-image: url(../img/about-left__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    
}

.about-bottom__descr {
    display: block;
    max-width: 454px;
    font-size: 16px;
    line-height: 2;
    font-weight: 700;
    color: #fff;
}

.about-bottom__btn {
    border: 3px solid #ff9900;
    background-color: transparent;
    padding: 18px 36px;
    transition: background-color .2s linear;
}

.about-bottom__btn:hover {
    background-color: var(--btn-bgcolor__focus-hover);
}

.about-bottom__btn:focus {
    outline: none;
    background-color: var(--btn-bgcolor__focus-hover);
}
 
.about-bottom__btn:active {
    outline: none;
    background-color: #e1670e;
}

.about-container__content-right {
    flex: 0 0 49.15%;
}

.content-right__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-right__item {
    padding-top: 65px;
    padding-right: 118px;
    padding-left: 300px;
    padding-bottom: 65px;
    outline: var(--border);
    background-position: 60px 65px;
}

.item-bg1 {
    background-image: url(../img/item-bg2.svg);
    background-repeat: no-repeat;
    
}

.item-bg2 {
    background-image: url(../img/item-bg.svg);
    background-repeat: no-repeat;
}

.content-right__item:not(:last-child) {
    margin-bottom: 32px;
}

.content-right__title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.content-right__descr {
    font-size: 16px;
    line-height: 32.5px;
}

/* How we work */

.work-container {
    padding-top: 100px;
}

.work-container__title {
    margin-left: 1px;
    margin-bottom: 49px;
}

.work-container__nav {
    margin-bottom: 48px;
}

.work-container__list {
    display: flex;
    flex-wrap: wrap;
}

.work-container__item {
    font-size: 18px;
    line-height: 22px;
}

.work-container__item:not(:last-child) {
    margin-right: 86px;
}

.work-container__item:first-child {
    margin-right: 86px;
}

.work-container__button {
    cursor: pointer;
    border-style: none;
    color: #333;
    background-color: transparent;
    transition: color .2s linear;
}

.work-container__button-active {
    outline: var(--border-color__hover-focus);
}

.work-container__button-deactive {
    outline: none;
}

.work-container__button:hover {
    color: #ff9900;
}

.work-container__button:focus {
    outline: var(--border-color__hover-focus);
}

.work-container__button:active {
    outline: none;
    color: var(--btn-bgcolor__active);
}

.tab-content {
    display: none;
    margin-bottom: 30px;
}


.tab-content-active {
    display: block;
}

.tab-content__item {
    display: flex;
    justify-content: space-between;
}

.tab-content__left {
    flex: 0 0 49%;
    width: 50%;
}

.tab-content__right {
    flex: 0 0 49.15%;
    background-image: url(../img/Rectangle\ 18\ —\ копия.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-content__title {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 32px;
}

.tab-content__descr {
    max-width: 758px;
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 2;
}

.tab__btn {
    padding: 20px 38px;
    font-size: 16px;
    line-height: 20px;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}


.tab__btn:not(:last-child) {
    margin-right: 29px;
}

.tab__btn:first-child {
    font-weight: 700;
    color: #fff;
    background-color: #ff9900;
}

.tab__btn:first-child:hover {
    background-color: var(--btn-bgcolor__focus-hover);
}

.tab__btn:first-child:focus {
    outline: none;
    background-color: var(--btn-bgcolor__focus-hover);
}

.tab__btn:first-child:active {
    background-color: var(--btn-bgcolor__active);
}

.tab__btn:last-child:hover {
    color: var(--btn2-color__hover-focus);
    background-color: var(--btn2-bgcolor__hover-focus);
}

.tab__btn:last-child:focus {
    outline: none;
    color: var(--btn2-color__hover-focus);
    background-color: var(--btn2-bgcolor__hover-focus);
}

.tab__btn:last-child:active {
    color: var(--btn2-color__hover-focus);
    background-color: var(--btn2-bgcolor__active);
}


.tab__btn:last-child {
    padding: 19px 38px;
    font-weight: 400;
    outline: 1px solid #333;
    background-color: transparent;
    color: #333;
}


/* FAQ */

.faq-container {
    padding-top: 101px;
    padding-bottom: 104px;
}

.faq-container__title {
    margin-left: 1px;
    margin-bottom: 41px;
}

.faq-container__heading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    transition: color .2s linear;
}

.faq-container__item {
    cursor: pointer;
}

.slash {
    color: #cacaca;
}

.faq-content__top {
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-top: var(--border);
    border-bottom: var(--border);
    transition: border-color .2s linear;
}

.faq-content__bottom {
    position: relative;
    overflow: hidden;
    height: 0;
    max-height: 0;
}

.faq-content__descr {
    padding-bottom: 40px;
    max-width: 1003px;
    font-size: 16px;
    line-height: 2;
}

.faq-content__bottom .faq-content__descr {
    transform: translate(0, -100%);
}

.faq-content__bottom_open .faq-content__descr {
    transform: translate(0,0%);
    transition: all .4s linear;
}

.section-faq .faq-content__top_active {
    border-bottom: none;
}

.faq-content__top_active {
    transition: rotate .2s linear;
}

.faq-content__top_active .faq-container__svg {
    transform: rotate(45deg);
}

.faq-content__bottom_open {
    height: 100%;
    max-height: 100%;
}

.faq-container__svg {
    background: none;
    transition: transform .2s linear;
}

.faq-container__svg:focus {
    outline: none;
}

.faq-container__svg ellipse,
.faq-container__svg path {
    transition: fill .2s linear;
}

.faq-content__top:hover {
    position: relative;
    z-index: 3;
    border-color: #ff9900;
}

.faq-content__top:hover .faq-container__heading {
    color: #ff9900;
}

.faq-content__top:hover .faq-container__svg ellipse {
    fill: #ff9900;
}

.faq-content__top:hover .faq-container__svg path {
    fill: #fff;
}

.faq-container__item:focus-within {
    outline: none;
}

.faq-container__item:focus-within .faq-content__top {
    position: relative;
    z-index: 3;
    border-color: #ff9900;
}

.faq-container__item:focus-within .faq-container__heading {
    color: #ff9900;
}

.faq-container__item:focus-within .faq-container__svg ellipse {
    fill: #ff9900;
}

.faq-container__item:focus-within .faq-container__svg path {
    fill: #fff;
}




/* Footer */

.footer {
    background-color: #222;
    color: var(--footer-text__color);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 50px;
}


/* --------footer-left--------- */

.footer-left {
    margin-right: 20px;
}

.footer-left__link:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}

.footer-left__link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-nav__link {
    color: var(--footer-text__color);
    transition: color .2s linear;
}

.footer-nav__link:hover {
    color: #ff9900;
}

.footer-nav__link:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}

.footer-nav__link:active {
    outline: none;
    color: var(--btn-bgcolor__active);
}

.footer-nav {
    margin-bottom: 90px;
}

.icons-list {
    display: flex;
}

.footer-nav__item {
    font-size: 18px;
    line-height: 2;
    font-weight: 600;
}

.icons-list__item:not(:last-child) {
    margin-right: 25px;
}

.icons-list__link {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.icons-list__link svg path {
    transition: fill .2s linear;
}

.icons-list__link:hover svg path {
    fill: #ff9900;
}

.icons-list__link:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}

.icons-list__link:active {
    outline: none;
}

.icons-list__link:active svg path {
    fill: #e1670e;
}



/* -------footer-middle--------- */

.footer-middle {
    max-width: 570px;
    margin-right: 20px;
    transform: translateX(55px);
}

.footer-middle__title {
    margin: 0;
    margin-bottom: 25px;
}

.form__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.form__input {
    border-style: none;
    background-color: #414141;
    color: #fff;
    transition: background-color .2s linear;
}

.form__input:not(:last-child) { 
    height: 60px;
    margin-bottom: 25px;
    padding-left: 24px;
}

.form__input:hover {
    background-color: #666;
}

.form__input:focus {
    outline: none;
    background-color: #666;
}

.form__input:focus {
    outline: none;
    background-color: #666;
}


.form__textarea {
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
    padding: 21px;
    padding-left: 23px;
    border-style: none;
    resize: none;
    background-color: #414141;
    color: #fff;
    transition: background-color .2s linear;
}

.form__textarea:hover {
    background-color: #666;
}

.form__textarea:focus {
    outline: none;
    background-color: #666;
}

.form__bottom {
    display: flex;
}

.form__btn {
    padding: 19px 52px;
    margin-right: 23px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    transition: background-color .2s linear;
}

.form__btn:hover {
    background-color: var(--btn-bgcolor__focus-hover);
}

.form__btn:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
    background-color: var(--btn-bgcolor__focus-hover);
}

.form__btn:active {
    background-color: var(--btn-bgcolor__active);
}

.form__checkbox {
    margin-top: 23px;
    font-size: 16px;
    line-height: 2;
}

.form__checkbox:focus {
    outline: var(--border-color__hover-focus);
    outline-offset: 2px;
}


/* -------footer-right--------*/

.footer-right {
    max-width: 363px;
    margin-top: 87px;
}

.footer-right__text {
    font-size: 16px;
    line-height: 32px;
}


@media (max-width: 1500px) {

    .about-container__content {
        flex-direction: column;
    }

    .about-container__left {
        flex: none;
        height: 500px;
        margin-bottom: 32px;
    }

    .footer-right {
        display: none;
    }

    .footer-middle {
        transform: translateX(-100px);
    }
}

@media (max-width: 1024px) {

    .container {
        max-width: 954px;
    }

    /* Header */
    .header__burger {
        background-color: transparent;
        display: inline-block;
        margin-right: -7px;
    }

    .header-container {
        min-height: 100px;
        padding-top: 13px;
    }

    .header-container__link,
    .header-container__logo {
        max-width: 150px;
    }

    .header-nav {
        display: none;
    }

    .header-container__link {
        margin-right: 0;
    }

    /*  Hero */

    .hero__content {
        inset: 160px 92px;
    }

    .swiper {
        height: 670px;
    }

    .slide-1 {
        padding: 160px 77px;
        background-image: url(../img/breakpoints-hero-img.jpg);
    }

    .hero__title {
        margin-bottom: 16px;
        font-size: 60px;
        line-height: 73px;
    }

    .hero__descr {
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
    }

    /* About */

    .about-container {
        padding-top: 81px;
    }

    .about-container__title {
        margin-left: 0;
        margin-bottom: 9px;
    }

    .about-container__descr {
        margin-bottom: 61px;;
    }

    .about-container__content {
        flex-direction: column;
    }

    .about-container__left {
        height: 100%;
        margin-bottom: 32px;
        background-position: center;
    }

    .about-container__content-left {
        height: 608px;
        margin-bottom: 32px;
    }

    

    .content-right__item {
        padding-left: 317px;
        background-position: 77px;
    }

    .content-right__descr {
        max-width: 450px;
    }

    /* Work */

    .work-container {
        padding-top: 81px;
    }
    
    .work-container__nav {
        margin-bottom: 50px;
    }

    .tab-content__title {
        margin-bottom: 9px;
    }

    .tab-content__descr {
        max-width: 437px;
        margin-bottom: 24px;
    }

    .tab-content__right {
        flex-basis: 47.3%;
        background-image: url(../img/breakpoints-work-img.jpg);
    }

    /* FAQ  */
    
    .faq-container {
        padding-top: 82px;
        padding-bottom: 77px;
    }

    .faq-container__title {
        margin-left: 0;
        margin-bottom: 31px;
    }

    .faq-container__heading {
        max-width: 756px;
        font-size: 20px;
        line-height: 32px;
    }

    .faq-content__top {
        
        padding-top: 28px;
        padding-bottom: 30px;
    }

    /* Footer */
    
    .footer-left {
        margin-right: 132px;
    }

    .footer-middle {
        max-width: 541px;
        margin-right: 0;
        transform: translateX(-2px);
    }

    .form__btn {
        padding: 19px 37.5px;
    }

    .footer__right {
        display: none;
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 698px;
    }

    /* Header */

    .header-container {
        min-height: 69px;
        padding-top: 16px;
        padding-bottom: 7px;
    }

    .header__menu {
        height: 737px;
        padding-top: 21px;
    }

    /* Hero */

    .hero__container {
        height: 662px;
    }

    .hero__content {
        inset: 160px 55px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__descr {
        font-size: 18px;
        line-height: 22px;
    }

    .swiper-pagination-bull {
        margin-bottom: 28px;
    }

    /* About */

    .about-container__left {
        height: 648px;
    }

    .about-container__content-left {
        height: 615px;
    }

    .about-bottom {
        padding: 32px 40px;
    }

    .about-bottom__descr {
        margin: 0;
        margin-right: auto;
        max-width: 366px;
        font-size: 16px;
        line-height: 2;
    }

    .content-right__title {
        line-height: 29px;
    }

    .content-right__item {
        padding: 36px 46px 35px 170px;
        background-size: 114px 99px;
        background-position: 39px;
    }

    /* Work */

    .work-container__list {
        justify-content: space-between;
    }

    .tab-content__item {
        flex-direction: column;
    }

    .work-container__nav {
        margin-bottom: 48px;
    }

    .tab-content__left {
        order: 1;
        width: 100%;
    }

    .tab-content__right {
        width: 100%;
        height: 285px;
        flex: none;
        background-image: url(../img/768work.jpg);
        margin-bottom: 38px;
    }

    .tab-content__descr {
        margin: 0;
        margin-bottom: 24px;
        max-width: 667px;
    }

    /* FAQ */

    .faq-container {
        padding-bottom: 80px;
    }

    .faq-container__heading {
        max-width: 570px;
    }

    .faq-content__top {
        padding-top: 29px;
    }

    /* Footer */

    .footer__container {
        flex-direction: column;
    }


    /* -------footer-left--------- */


    .footer-nav {
        display: none;
    }

    .footer-left {
        margin: 0;
        order: 2;
    }


    /* --------footer-middle--------- */

    .footer-middle {
        margin-bottom: 50px;
    }

    .form__top {
        margin-bottom: 31px;
    }





}

@media (max-width: 575px) {

   .container {
        max-width: 100%;
    }
    
    .section-title {
        font-size: 24px;
        line-height: 29px;
    }

    .section-text {
        font-size: 14px;
        line-height: 28px;
    }

    /* Header */

    .header-container {
        padding-top: 10px;
    }
    .header-container__link,
    .header-container__logo {
        max-width: 111px;
    }

    .header__menu {
        max-height: 569px;
        max-width: 65%;
    }

    .menu__btn {
        margin-bottom: 32px;
    }

    /* Hero */

    .hero__container {
        height: 500px;
    }

    .hero__content {
        inset: 120px 40px;
    }

    .swiper-slide {
        padding: 60px 21px 60px 22px;
        text-align: center;
    }

    .hero__title {
        margin-bottom: 7px;
        font-size: 40px;
        line-height: 1;
    }

    .hero__descr {
        margin-bottom: 33px;
        font-size: 12px;
        line-height: 15px;
    }

    .hero__btn {
        padding: 22.4px 40.88px;
        font-size: 18px;
        line-height: 15px;
    }

    .swiper {
        max-height: 500px;
    }

    /* About */

    .about-container {
        padding-top: 60px;
    }

    .about-container__title {
        margin-bottom: 20px;
    }

    .about-container__descr {
        margin-bottom: 14px;
    }

    .about-container__left {
        padding: 0;
        max-height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        
    }

    .about-bottom {
        padding: 0;
        padding: 32px 40px;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .about-bottom__descr {
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 2;
        font-weight: 400;
        color: #fff;
    }

    .about-bottom__btn {
        padding: 10.8px 43px;
        font-size: 12px;
        line-height: 15px;
        border-width: 2px;
    }

    .content-right__item {
        padding: 0;
        padding-top: 62px;
        outline: none;
        background-size: 64px 49px;
        background-position: left top;
    }

    .item-bg1 {
        background-image: url(../img/320\ about\ bg1.svg);
    }

    .item-bg2 {
        background-image: url(../img/320\ about\ bg2.svg);
    }

    .content-right__title {
        margin-bottom: 3px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    
    .content-right__descr {
        font-size: 14px;
        line-height: 2;
    }

    /* Work */

    .work-container {
        padding-top: 60px;
    }
    
    .work-container__title {
        margin-left: 0;
        margin-bottom: 23px;
    }

    .work-container__nav {
        margin-bottom: 14px;
    }

    .work-container__item {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .work-container__item:first-child {
        margin: 0;
    }

    .work-container__item:not(:last-child) {
        margin: 0;
    }


    /* FAQ */

    .faq-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .faq-container__title {
        margin-bottom: 17px;
    }

    .faq-content__top {
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .faq-container__heading {
        max-width: 100%;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;

    }

    .faq-container__svg svg {
        width: 30px;
        height: 30px;
    }

    .faq-content__descr {
        font-size: 14px;
        line-height: 24px;
    }

    /* Footer */

    .footer__container {
        padding-top: 32px;
    }

    .form__top {
        margin-bottom: 24px;
    }

    .footer-middle__title {
        margin-bottom: 22px;
    }

    .form__input {
        font-size: 14px;
        line-height: 32px;
    }

    .form__textarea {
        padding: 12px;
        padding-left: 21px;
        font-size: 14px;
        line-height: 32px;
    }


    .form__bottom {
        padding-bottom: 22px;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #595959;
    }

    .form__btn {
        padding: 12px 31px 13px 26px;
        margin: 0;
        margin-bottom: 19px;
        font-size: 12px;
        line-height: 15px;
    }

    .form__checkbox {
        margin: 0;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-left__link,
    .footer-left__logo {
        max-width: 131px;
        margin-bottom: 6px;
    }

    .icons-list__link,
    .icons-list__link svg {
        width: 40px;
        height: 40px;
    }

    .icons-list__item:not(:last-child) {
        margin-right: 16px;
}

    .footer-middle {
        margin-bottom: 16px;
    }

}

@media (max-width: 375px) {

    .hero__content {
        inset: 70px 40px;
        text-align: center;
    }

    /* Выравнивание текста по центру */

}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    .section-title {
        font-size: 24px;
        line-height: 29px;
    }

    .section-text {
        font-size: 14px;
        line-height: 28px;
    }

    /* Header */

    .header-container {
        padding-top: 10px;
    }
    .header-container__link,
    .header-container__logo {
        max-width: 111px;
    }

    .header__menu {
        max-height: 377px;
        padding-top: 23px;
        padding-left: 15px;
    }

    .menu__btn {
        margin-bottom: 32px;
    }

    .menu__item {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 20px;
    }

    /* Hero */

    .hero__container {
        height: 308px;
    }

    .hero__content {
        inset: 60px 40px;
        text-align: center;
    }

    .swiper-slide {
        padding: 60px 21px 60px 22px;
        text-align: center;
    }

    .swiper-pagination-bull {
        margin-bottom: 5px;
    }

    .bull {
        width: 10px;
        height: 10px;
    }

    .hero__title {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 24px;
    }

    .hero__descr {
        max-width: 247px;
        margin-bottom: 33px;
        font-size: 12px;
        line-height: 15px;
    }

    .hero__btn {
        padding: 12.4px 28.88px;
        font-size: 12px;
        line-height: 15px;
    }

    /* About */

    .about-container {
        padding-top: 60px;
    }

    .about-container__title {
        margin-bottom: 20px;
    }

    .about-container__descr {
        margin-bottom: 14px;
    }

    .about-container__left {
        padding: 0;
        max-height: 400px;
        background-image: url(../img/about\ 320.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        
    }

    .about-bottom {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
    }

    .about-bottom__descr {
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 2;
        font-weight: 400;
        color: #333;
    }

    .about-bottom__btn {
        padding: 10.8px 43px;
        font-size: 12px;
        line-height: 15px;
        border-width: 2px;
        color: #333;
    }

    .about-bottom__btn:active {
        color: #fff;
    }

    .content-right__item {
        padding: 0;
        padding-top: 62px;
        outline: none;
        background-size: 64px 49px;
        background-position: left top;
    }

    .item-bg1 {
        background-image: url(../img/320\ about\ bg1.svg);
    }

    .item-bg2 {
        background-image: url(../img/320\ about\ bg2.svg);
    }

    .content-right__title {
        margin-bottom: 3px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    
    .content-right__descr {
        font-size: 14px;
        line-height: 2;
    }

    /* Work */

    .work-container {
        padding-top: 60px;
    }
    
    .work-container__title {
        margin-left: 0;
        margin-bottom: 23px;
    }

    .work-container__nav {
        margin-bottom: 14px;
    }

    .work-container__item {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
    }


    .tab-content__right {
        height: 160px;
        margin-bottom: 16px;
        background-image: url(../img/work320.jpg);
        background-size: contain;
    }

    .tab-content__title {
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
    }

    .tab-content__descr {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 2;
    }

    .tab__btns {
        max-height: 40px;
        display: flex;
    }

    .tab__btn {
        font-size: 12px;
        line-height: 15px;
    }

    .tab__btn:first-child {
        padding-top: 13px;
        padding-left: 43.5px;
        padding-bottom: 27px;
        padding-right: 43.5px;
    }

    .tab__btn:last-child {
        padding-top: 8px;
        padding-left: 32.5px;
        padding-bottom: 12px;
        padding-right: 32.5px;
    }

    .tab__btn:not(:last-child) {
        margin-right: 10px;
    }

    /* FAQ */

    .faq-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .faq-container__title {
        margin-bottom: 17px;
    }

    .faq-content__top {
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .faq-container__heading {
        max-width: 243px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;

    }

    .faq-container__svg svg {
        width: 30px;
        height: 30px;
    }

    /* Footer */

    .footer__container {
        padding-top: 32px;
    }

    .form__top {
        margin-bottom: 24px;
    }

    .footer-middle__title {
        margin-bottom: 22px;
    }

    .form__input {
        font-size: 14px;
        line-height: 32px;
    }

    .form__textarea {
        padding: 12px;
        padding-left: 21px;
        font-size: 14px;
        line-height: 32px;
    }


    .form__bottom {
        padding-bottom: 22px;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #595959;
    }

    .form__btn {
        padding: 12px 31px 13px 26px;
        margin: 0;
        margin-bottom: 19px;
        font-size: 12px;
        line-height: 15px;
    }

    .form__checkbox {
        margin: 0;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-left__link,
    .footer-left__logo {
        max-width: 131px;
        margin-bottom: 6px;
    }

    .icons-list__link,
    .icons-list__link svg {
        width: 40px;
        height: 40px;
    }

    .icons-list__item:not(:last-child) {
        margin-right: 16px;
}

    .footer-middle {
        margin-bottom: 16px;
    }

   
}